.heading{
  

color:rgb(0, 0, 0);
text-align: center;
margin-top: 10px;
font-family: 'Abril Fatface', cursive;


}

.One{
    
    display: flex;
    justify-content: center;
    align-items: center;
     width: 850px;
    font-family: 'Abril Fatface', cursive;

background: rgba(255, 255, 255, 0.04);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px);
border: 1px solid rgba(255, 255, 255, 1);
    
}

.but1{
    margin-top:20px;
    margin-left: 20px;
    margin-right:40px;
    padding:40px;
    background-color:rgb(0, 140, 255);
    font-size: 1.5rem;
    border: 7px solid black;
    box-shadow: 0 0 20px rgb(146, 71, 71);
}
.but2{
    margin: 25px;
    padding: 40px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: orangered;
    font-size: 1.5rem;
    border: 7px solid black;
    box-shadow: 0 0 20px rgb(146, 71, 71);
}

.but3{
margin: 20px;
   padding:40px;
   margin-left: 20px;
   margin-right: 40px;
   background-color: orchid;
 font-size: 1.5rem;
 border: 7px solid black;
 box-shadow: 0 0 20px rgb(146, 71, 71);

}
